Repository GianlucaProgesi/Progesi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo: ci, area: core, pkg: in-memory, db: sqlite, tests, lang: csharp, docs

.github/labeler.yml:

"repo: ci":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/labeler.yml"

"area: core":
  - changed-files:
      - any-glob-to-any-file:
          - "src/ProgesiCore/**"
          - "tests/ProgesiCore.Tests/**"

"pkg: in-memory":
  - changed-files:
      - any-glob-to-any-file:
          - "src/ProgesiRepositories.InMemory/**"

"db: sqlite":
  - changed-files:
      - any-glob-to-any-file:
          - "src/ProgesiRepositories.Sqlite/**"
          - "tests/ProgesiRepositories.Sqlite.Tests/**"

"tests":
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"

"lang: csharp":
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.cs"
          - "**/*.csproj"
          - "**/*.sln"

"dependencies":
  - head-branch:
      - starts-with: "dependabot/"
  - commits:
      - message: "/^build\\(deps\\)/"

"docs":
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"

ci(coverage): merge Cobertura + step summary + HTML artifact; gate 75%
  .github/workflows/build-test-coverage.yml
  tools/coverage.ps1
Labels: repo: ci

ci(coverage): run tests with coverlet in CI; robust merge + summary + gate
  .github/workflows/build-test-coverage.yml
  tools/coverage.ps1
Labels: repo: ci

ci(coverage): ensure coverlet flags applied (single-line commands)
  .github/workflows/build-test-coverage.yml
Labels: repo: ci

ci(coverage): force Cobertura via msbuild + XPlat collector; diag listing
  .github/workflows/build-test-coverage.yml
Labels: repo: ci

ci(coverage): lower gate to 73% to stabilize PR runs
  .github/workflows/build-test-coverage.yml
Labels: repo: ci

ci(coverage): gate temporaneo 73.5% (scope core-only) + script allineati
  .github/workflows/build-test-coverage.yml
  tools/Run-All.ps1
  tools/coverage-hotspots.ps1
  tools/coverage.ps1
Labels: repo: ci

test: robust logger smoke tests (supporto firme costruttori diverse, C#8 safe)
  tests/ProgesiRepositories.Sqlite.Tests/LoggingSmokeTests.cs
Labels: db: sqlite, tests, lang: csharp

test: estensione smoke su logger (più overload + rotazione forzata)
  tests/ProgesiRepositories.Sqlite.Tests/LoggingExtendedTests.cs
Labels: db: sqlite, tests, lang: csharp

ci(coverage): gate 79% + hotspot summary + HTML artifact
  .github/workflows/build-test-coverage.yml
Labels: repo: ci

ci: coverage.ps1 resiliente (MSBuild + XPlat, ricerca file robusta)
  tools/coverage.ps1
Labels: none

ci: coverage.ps1 – evita output nel pipeline (fix -reports)
  tools/coverage.ps1
Labels: none

ci: coverage.ps1 – usa Start-Process e join sicuro per -reports
  tools/coverage.ps1
Labels: none

ci: coverage.ps1 – collector quotato e merge robusto
  tools/coverage.ps1
Labels: none

chore: repo housekeeping (clean bin/obj/.vs/TestResults, add tools guide & helpers)
  .github.zip
  tools/README.md
  tools/clean-solution.ps1
  tools/prune-branches.ps1
  tools/repo-snapshot.ps1
Labels: docs

chore: ignore local reports (CoverageReport, diagnostics-*, run-report-*) and build artifacts
  .gitignore
Labels: none

ci: enable workflow_dispatch and add tools-index/cleanup improvements
  tools/clean-solution.ps1
  tools/enable-workflow-dispatch.ps1
  tools/tools-index.ps1
Labels: none

ci: add workflow_dispatch to all workflows
  diagnostics-20250910-065626/diagnostics.json
  diagnostics-20250910-065626/diagnostics.md
  diagnostics-20250910-065626/failed-run-17604232002/run.log.txt
  docs/TOOLS.md
  run-report--20250910-065547/artifacts/coverage-report/CoverageCurrent.json
  run-report--20250910-065547/artifacts/coverage-report/Summary.html
  run-report--20250910-065547/artifacts/coverage-report/Summary.txt
  run-report--20250910-065547/report.json
  run-report--20250910-065547/report.md
  run-report--20250910-065547/run.log.txt
  tools/Run-All.ps1
  tools/TOOLS.md
  tools/audit-workflows.ps1
  tools/enable-workflow-dispatch.ps1
Labels: docs

chore: purge local artifacts; now ignored via .gitignore
  tools/enable-workflow-dispatch.ps1
Labels: none

ci: add workflow_dispatch (auto where safe) + guidance for inline forms
  tools/enable-workflow-dispatch.ps1
Labels: none

ci: add workflow_dispatch to all workflows (fixed path include)
  .github/workflows/build-test-coverage.yml.bak
  .github/workflows/pr-labeler.yml.bak
  .github/workflows/semantic-pr.yml.bak
Labels: repo: ci

ci: ignore and untrack workflow .bak backups
  .github/workflows/build-test-coverage.yml.bak
  .github/workflows/pr-labeler.yml.bak
  .github/workflows/semantic-pr.yml.bak
  .gitignore
Labels: repo: ci

chore(tools): add audit-repo.ps1 and TOOLS entry
  tools/TOOLS.md
  tools/audit-repo.ps1
Labels: docs

chore: ignore audit outputs
  .gitignore
Labels: none

chore(ci): archive legacy/duplicate workflows
  tools/Run-Local.ps1
  tools/audit-repo.ps1
  tools/enable-workflow-dispatch.ps1
Labels: none

chore(ci): archive PR Labeler workflow
  .github/workflows-archive/pr-labeler.yml
Labels: none

chore(ci): archive ci_patched workflow (legacy)
  .github/workflows-archive/ci_patched.yml
Labels: none

chore: ignore local helper Run-Local.ps1
  .gitignore
Labels: none

ci: add workflow_dispatch to workflows on main
  .github/workflows/build-test-coverage.yml.bak
  .github/workflows/pr-labeler.yml.bak
  .github/workflows/semantic-pr.yml.bak
Labels: repo: ci

ci: add workflow_dispatch to workflows
  .github/workflows/codeql.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/semantic-pr.yml
  tools/enable-workflow-dispatch.ps1
Labels: repo: ci

ci: restore PR Labeler & CodeQL (workflow_dispatch + perms)
  .github/workflows/codeql.yml
  .github/workflows/pr-labeler.yml
Labels: repo: ci

ci(codeql): skip code scanning upload, keep SARIF as artifact
  .github/workflows/codeql.yml
Labels: repo: ci

ci(codeql): add workflow_dispatch + upload SARIF artifact (no code scanning upload)
  .github/workflows/codeql.yml
Labels: repo: ci

ci(codeql): fix YAML + upload SARIF artifact (no code scanning upload)
  .github/workflows/codeql.yml
Labels: repo: ci

ci(codeql): upload SARIF anche da ../results
  .github/workflows/codeql.yml
Labels: repo: ci

ci(codeql): write SARIF to workspace and upload artifact
  .github/workflows/codeql.yml
Labels: repo: ci

ci: enable manual runs (workflow_dispatch) (#25)
  .github/workflows/build-test-coverage.yml.bak
  .github/workflows/codeql.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-labeler.yml.bak
  .github/workflows/semantic-pr.yml.bak
  tools/enable-workflow-dispatch.ps1
Labels: repo: ci

chore(ci): drop workflow *.yml.bak backups and ignore going forward
  .github/workflows/build-test-coverage.yml.bak
  .github/workflows/pr-labeler.yml.bak
  .github/workflows/semantic-pr.yml.bak
  .gitignore
Labels: repo: ci

chore: ignore out/ and local helper
  .gitignore
Labels: none
