Repository GianlucaProgesi/Progesi, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, core, sqlite, grasshopper, docs

.github/labeler.yml:

ci:
  - .github/workflows/**

core:
  - src/ProgesiCore/**

sqlite:
  - src/ProgesiRepositories.Sqlite/**

grasshopper:
  - src/ProgesiGrasshopperAssembly/**

docs:
  - "**/*.md"

ci: remove duplicate build-test-coverage workflow (using ci.yml)
  .github/workflows/build-test-coverage.yml
Labels: ci

ci(release): harden publish to GPR; add tools for local CI & release verification
  .github/workflows/release.yml
  tools/README.md
  tools/Run-TestsWithCoverage.ps1
  tools/Verify-Release.ps1
Labels: ci, docs

ci: restore release.yml and add working local tools (tests+coverage, verify release)
  .github/workflows/release.yml
  tools/Run-TestsWithCoverage.ps1
  tools/Verify-Release.ps1
Labels: ci

ci: fix reportgenerator quoting; robust local coverage script (per-test, quoted reporttypes)
  .github/workflows/ci.yml
  tools/Run-TestsWithCoverage.ps1
Labels: ci

ci: align to XPlat Code Coverage collector; fix artifact paths and reportgenerator quoting
  .github/workflows/ci.yml
Labels: ci

tests: ensure coverlet.collector + Microsoft.NET.Test.Sdk in test projects
  coverage-html/Cobertura.xml
  coverage-html/ProgesiCore_ProgesiHash.html
  coverage-html/ProgesiCore_ProgesiMetadata.html
  coverage-html/ProgesiCore_ProgesiSnip.html
  coverage-html/ProgesiCore_ProgesiVariable.html
  coverage-html/ProgesiCore_ValueObject.html
  coverage-html/ProgesiRepositories.Sqlite_FileLogger.html
  coverage-html/ProgesiRepositories.Sqlite_NullLogger.html
  coverage-html/ProgesiRepositories.Sqlite_RollingFileLogger.html
  coverage-html/ProgesiRepositories.Sqlite_SqliteMetadataRepository.html
  coverage-html/ProgesiRepositories.Sqlite_SqliteRepositoryBase.html
  coverage-html/ProgesiRepositories.Sqlite_SqliteVariableRepository.html
  coverage-html/ProgesiRepositories.Sqlite_SqliteVariableRepositoryLegacyExtensions.html
  coverage-html/ProgesiRepositories.Sqlite_TraceLogger.html
  coverage-html/index.htm
  coverage-html/index.html
  run-report--20250910-065547/artifacts/coverage-report/CoverageCurrent.json
  run-report--20250910-065547/artifacts/coverage-report/Summary.html
  run-report--20250910-065547/artifacts/coverage-report/Summary.txt
  tests/ProgesiCore.Tests/ProgesiCore.Tests.csproj
  tests/ProgesiRepositories.Sqlite.Tests/ProgesiRepositories.Sqlite.Tests.csproj
  tools/Clean-ProgesiRepo.ps1
  tools/Run-TestsWithCoverage.ps1
Labels: none
