Repository GianlucaProgesi/Progesi, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, tests, core, sqlite, inmemory, windows-only

.github/labeler.yml:

CI/CD:
  - .github/**

tests:
  - tests/**

core:
  - src/ProgesiCore/**

sqlite:
  - src/ProgesiRepositories.Sqlite/**

inmemory:
  - src/ProgesiRepositories.InMemory/**

windows-only:
  - src/ProgesiRepositories.Rhino/**
  - src/ProgesiGrasshopperAssembly/**

ci: add concurrency & skip bot on labeler/semantic; dependabot grouping
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/semantic-pr.yml
Labels: CI/CD

ci: restore filtered coverage (assembly/class filters) + log solution
  .github/workflows/ci.yml
Labels: CI/CD

ci: restore filtered coverage + gate 90% + quoting safe
  .github/workflows/ci.yml
Labels: CI/CD

ci: prefer slnf again + filters + coverage gate 90% + diagnostics
  .github/workflows/ci.yml
Labels: CI/CD

ci: include ProgesiRepositories.* in coverage + gate 90%
  .github/workflows/ci.yml
Labels: CI/CD

ci: run tests per-project to include Sqlite.Tests + coverage gate 90%
  .github/workflows/ci.yml
Labels: CI/CD

ci: per-project tests + filtered coverage + gate 90% main / 80% branches
  .github/workflows/ci.yml
Labels: CI/CD

CI: per-project tests + filtered coverage + staged gates (#20)
  .github/workflows/ci.yml
  tools/Cancel-DependabotRuns.ps1
Labels: CI/CD

ci: don't fail manual runs; keep gate 90% on main for push/PR
  .github/workflows/ci.yml
Labels: CI/CD

ci: fix per-project loop + safe outputs + bot-friendly gate
  .github/workflows/ci.yml
Labels: CI/CD

ci: fix YAML (no backticks) + per-project tests + safe gate
  .github/workflows/ci.yml
Labels: CI/CD

ci: build automatico nei test per progetto (rimuovi --no-build)
  .github/workflows/ci.yml
Labels: CI/CD

ci(step0): temporarily lower coverage gate to 70% while restoring lost code
  .github/workflows/ci.yml
Labels: CI/CD

restore: ProgesiAxisVariable & tests from 5a70a88f75a0eab65362a346c64350c6c8674fd8
  .github/workflows/ci.yml.bak.20250913-070317
  src/ProgesiCore/Persistence/ProgesiAxisVariableRepository.cs
  src/ProgesiCore/Persistence/ProgesiAxisVariableSql.cs
  src/ProgesiCore/ProgesiAxisVariable.cs
  src/ProgesiCore/ProgesiAxisVariableDto.cs
  tests/ProgesiCore.Tests/ProgesiAxisVariableDtoTests.cs
  tests/ProgesiCore.Tests/ProgesiAxisVariableRepositoryIntegrationTests.cs
  tests/ProgesiCore.Tests/ProgesiAxisVariableRepositoryTests.cs
  tests/ProgesiCore.Tests/ProgesiAxisVariableTests.cs
  tests/ProgesiRepositories.Sqlite.Tests/Coverage_SqliteRepos_ExtraTests.cs
  tools/Invoke-Workflow.ps1
Labels: CI/CD, tests, core

test(sqlite): move AxisVariable integration tests to Sqlite.Tests and use Microsoft.Data.Sqlite
  tests/ProgesiRepositories.Sqlite.Tests/ProgesiAxisVariableRepositoryIntegrationTests.cs
Labels: tests

style: normalize whitespace/line endings after file move
  src/ProgesiCore/Persistence/ProgesiAxisVariableRepository.cs
  src/ProgesiCore/Persistence/ProgesiAxisVariableSql.cs
  src/ProgesiCore/ProgesiAxisVariable.cs
  src/ProgesiCore/ProgesiAxisVariableDto.cs
  tests/ProgesiCore.Tests/ProgesiAxisVariableDtoTests.cs
  tests/ProgesiCore.Tests/ProgesiAxisVariableRepositoryTests.cs
  tests/ProgesiCore.Tests/ProgesiAxisVariableTests.cs
Labels: tests, core

chore: drop accidental ci.yml backups
  .github/workflows/ci.yml.bak.20250913-070317
Labels: CI/CD

ci: raise temporary coverage gate to 85%
  .github/workflows/ci.yml
Labels: CI/CD

ci: branch-aware coverage gate (80% on PR, 90% on main)
  .github/workflows/ci.yml
Labels: CI/CD

ci: fix YAML + branch-aware coverage gate (80% PR / 90% main)
  .github/workflows/ci.yml
Labels: CI/CD

test(sqlite): add Logging.Abstractions and fix using for CodeQL autobuild
  tests/ProgesiRepositories.Sqlite.Tests/Coverage_SqliteRepos_ExtraTests.cs
  tests/ProgesiRepositories.Sqlite.Tests/ProgesiRepositories.Sqlite.Tests.csproj
Labels: tests

chore(ci): enable NuGet lock files for setup-dotnet cache
  Directory.Build.props
  src/ProgesiCore/packages.lock.json
  src/ProgesiGrasshopperAssembly/packages.lock.json
  src/ProgesiRepositories.InMemory/packages.lock.json
  src/ProgesiRepositories.Rhino/packages.lock.json
  src/ProgesiRepositories.Sqlite/packages.lock.json
  tests/ProgesiCore.Tests/packages.lock.json
  tests/ProgesiRepositories.Sqlite.Tests/packages.lock.json
  tools/ProgesiDbMaint/packages.lock.json
Labels: tests, core, sqlite, inmemory, windows-only

tests(sqlite): fix in-memory conn string + logging adapter; add CI workflows; update lockfile
  .github/workflows/build-test-coverage.yml
  .github/workflows/codeql.yml
  src/ProgesiGrasshopperAssembly/packages.lock.json
  tests/ProgesiRepositories.Sqlite.Tests/AsyncExtensions.cs
  tests/ProgesiRepositories.Sqlite.Tests/Coverage_SqliteRepos_ExtraTests.cs
  tests/ProgesiRepositories.Sqlite.Tests/Logging.TestAdapter.cs
  tests/ProgesiRepositories.Sqlite.Tests/ProgesiAxisVariableRepositoryIntegrationTests.cs
Labels: CI/CD, tests, windows-only
